In [10]:
2==2 #to comparison we have to assign == ,if we assign '=' then it understand that we are assigning the value to it

True

In [11]:
2==3

False

In [12]:
2.0 == 2

True

In [14]:
"bye" =="Bye" #here it comparison the value of the B in ASCII that's why giving false

False

In [15]:
3!=3

False

In [16]:
3!=5

True

In [17]:
2>1

True

In [19]:
4<3

False

In [20]:
#range 
#when we define the range then it will print the number before the number
for num in range(10): 
    print(num)

0
1
2
3
4
5
6
7
8
9

In [22]:
#range between 2 limit
#when we define the range limit ,it print the number including the lower limit and before the upper limit.
for num in range(1,10):
    print(num)

1
2
3
4
5
6
7
8
9

In [23]:
#range between 2 limit with particular pattern
#when we define then differnce of 2 then ,it print the number with difference of 2
for num in range(1,20,2):
    print(num)

1
3
5
7
9
11
13
15
17
19

In [39]:
range(1,20,3) #range is the generator ,it generate the function

range(1, 20, 3)

In [31]:
list(range(1,10))

TypeError: 'list' object is not callable

In [44]:
#enumerator,it print the inde value and character at the index
word='abcdefgh'

for index_count,letter in enumerate(word):
    print(index_count)
    print(letter)
    print("\n")

0
a


abcdefgh
1
b


abcdefgh
2
c


abcdefgh
3
d


abcdefgh
4
e


abcdefgh
5
f


abcdefgh
6
g


abcdefgh
7
h


abcdefgh

In [47]:
#zip function ,it is used to join the more than 1 list
mylist1=[1,2,3,4,5]
mylist2=['a','b','c','d','e']
for item in zip (mylist1,mylist2):
    print (item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [48]:
#to zip more than 2 list
mylist3=['!','@','#','$',"5"]
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', '!')
(2, 'b', '@')
(3, 'c', '#')
(4, 'd', '$')
(5, 'e', '5')

In [50]:
#it print the list till where lenght of list are equal,suppose there is 5 list
#length of 2 list is 3 and 3rd list is 7,then onlt zip happening till 5 only
mylist1=[1,2,3,4,5]
mylist2=['a','b','c','d','e']
mylist3=[100,200,300,400,500,600,700]
for list4 in zip (mylist1,mylist2,mylist3):
    print (list4)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)
(5, 'e', 500)

In [51]:
'x' in [1,2,3] #it check the number present in the list,if it is there then it will print true else false

False

In [52]:
'x' in ['x','y','z']

True

In [54]:
'a' in 'a in the world'

True

In [55]:
'mykey' in {'mykey':100}

True

In [60]:
d={'mykey':100}
100 in d.values()

True

In [61]:
d={'mykey':100}
100 in d.keys()

False

In [62]:
mylist=[100,200,300,400]
min(mylist)

100

In [63]:
max(mylist)

400

In [64]:
#to import function from random library
#here it means that from random library import the random function
from random import shuffle

In [65]:
list=[1,2,3,4,5,6,7,8,9,10]

In [66]:
shuffle(list) #it shuffle the list randomly

In [67]:
list

[10, 2, 8, 9, 5, 7, 6, 4, 1, 3]

In [68]:
shuffle(list)

In [ ]:
list

In [ ]:
from random import randint #this give the random number
num=randint(0,100) #it return something so we can store it in the variable and use again it

In [ ]:
num

In [ ]:
randint(0,100)

In [78]:
#to take the input from user
data=input("enter the number")

enter the number100

In [81]:
#by default whatever input given by user,it will be consider as string only,as per our need we have to convert it.
data

'100'

In [82]:
type(data)

str

In [83]:
int(data) # we have to cast the string in our needed data type

100

In [105]:
# write the program to check the number is even or odd on the basic of user input
num=input("Enter the number to check it even or odd")
num2=int(num)
if(num2%2==0):
    print(f'{num2} is even number')
else:
    print(f'{num2} is odd number')

Enter the number to check it even or odd13
13 is odd number

In [106]:
#list comprehensions when we wanna to insert the data in list using single line of code
mylist=[x for x in "Hello Python"]

In [107]:
mylist

['H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [108]:
#sqaure of number using list comprehensions
sqlist=[num**2 for num in range(1,10) if(num%2)==0]

In [109]:
sqlist

[4, 16, 36, 64]

In [115]:
#temperature measure in fahrenheit from celcius
celcius=[0,32,35,38,40]

fahrenheit=[(9/5)*temp+32 for temp in celcius]

In [116]:
fahrenheit

[32.0, 89.6, 95.0, 100.4, 104.0]

In [120]:
#nested for loop
numlist=[]
for x in [2,4,6]:
    for y in [1,10,100]:
        numlist.append(x*y)

In [121]:
numlist

[2, 20, 200, 4, 40, 400, 6, 60, 600]