In [21]:
#to define the list
new_list=['one','two','three']
new_list

['one', 'two', 'three']

In [22]:
#modify the list element
new_list[0]=('ONE ALL CAPS')
new_list

['ONE ALL CAPS', 'two', 'three']

In [23]:
#adding 2 list
another_list=['four','five']
new_list+another_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [29]:
#adding the element in the list
new_list.append('six')
new_list.append('seven')
new_list.append('eight')
new_list

['ONE ALL CAPS', 'two', 'three', 'six', 'six', 'seven', 'eight']

In [30]:
#removing the element from the list
new_list.remove('six')
new_list

['ONE ALL CAPS', 'two', 'three', 'six', 'seven', 'eight']

In [31]:
#to remove the last element from list
new_list.pop()

'eight'

In [32]:
new_list

['ONE ALL CAPS', 'two', 'three', 'six', 'seven']

In [33]:
#None is a key word to refer the none object or blank space

In [34]:
# to sort the list
new_list=['a','e','f','v','b']
new_list.sort()
new_list

['a', 'b', 'e', 'f', 'v']

In [35]:
num_list=[1,3,4,199,2,5,19,0]
num_list.sort()
num_list

[0, 1, 2, 3, 4, 5, 19, 199]

In [36]:
#we can't directly assign sorted list to variable,example 
my_sorted=num_list.sort()
my_sorted

In [37]:
num_list.sort()
my_sorted=new_list
my_sorted

['a', 'b', 'e', 'f', 'v']

In [38]:
my_sorted.reverse()

In [39]:
my_sorted

['v', 'f', 'e', 'b', 'a']

In [42]:
num_list.reverse()
num_list

[199, 19, 5, 4, 3, 2, 1, 0]

In [44]:
#grab the list include the index and element after that
num_list[1:]

[19, 5, 4, 3, 2, 1, 0]

In [45]:
#grab the list before the index
num_list[:5]

[199, 19, 5, 4, 3]

In [49]:
#nested list,this allow to define the list inside the list
list1=[1,2,3]
list2=[4,5,6]
list3=[7,8,9]
martix=[list1,list2,list3]
martix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [52]:
#to get the element from nester list,suppose we want to print the element in the list 2 at index 2 then
martix[1][1]
#be caution that indexing start from 0 in the list.

5

In [ ]:
martix1=[]