In [1]:
#tuples are similar to list but there is one difference that when they are define we can changed that means they inmmutable
#once value is assign at index once then it is not going to change
#value are assign in the tuples in () and in list in the []

In [2]:
t=(1,23,4,5,13)
mylist=[1,23,4,5]

In [6]:
#type use to check the type of the data
type(t) #it is a tuple

tuple

In [7]:
type(mylist) #it is a list

list

In [8]:
s=('a','b','c','d')

In [9]:
type(s)

tuple

In [10]:
#tuples give the freedon to count the occurence of the word and number in the tuple list
tup=('a','a','v','v','b','a','a','c')

In [11]:
tup.count('a') #count of the a=4

4

In [21]:
tup=(1,2,32,3,4,4,4,4,4,5,6,11)

In [22]:
tup.count(4) #ount of the 4=5

5

In [25]:
tup.index(4) #it will pick the first occurence of the element in tuple

4

In [27]:
mylist.index(1)

0

In [29]:
#when we trying to update the value of element at index in the typle we get error
tup[0]='r'
#TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [30]:
tup1=(1,3,[2,3])

In [31]:
tup1

(1, 3, [2, 3])